
<!-- contenido -->
<nav class="navbar navbar-default" style="margin-top: 0px">
    <div class="container">
        <ul class="nav navbar-nav" id="barLeft">
            <li><a href="/Panel" onclick="loadPage();"><i class="fas fa-columns"></i> Panel Principal</a></li>
            <li><a href="/Permisos" onclick="loadPage();"><i class="fas fa-arrow-alt-circle-left"></i> Regresar Permisos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li align="right" id="btnHide"><a href="#" onclick="hideBarLeft()"><i class="fas fa-sort-up"></i> Ocultar </a></li>
            <li align="right" id="btnShow" style="display:none"><a href="#" onclick="showBarLeft()"><i class="fas fa-sort-down"></i> Mostrar </a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fas fa-clipboard-list"></i> Lista de Elementos</div>
        <div class="panel-body">

            <form action="/Permisos/agregarNuevoRol" method="post" onsubmit="loadPage()">
                <label>Nombre</label>
                <input type="text" class="form-control" name="desc" placeholder="Nombre rol" required>
                <br />
                <button type="submit" class="btn btn-default">Guardar Rol</button>
            </form>

        </div>
    </div>
</div>


